---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  author: CollectionEntry<"author">;
}

const { id, data } = Astro.props.author;
const { name, avatar, twitter, linkedIn, github, bio, subtitle } = data;
---

<div
  class="max-w-lg mx-auto my-10 bg-slate-200 rounded-lg shadow-md p-5 relative"
>
  <Image
    class="w-32 h-32 rounded-full mx-auto"
    width={128}
    height={128}
    src={avatar}
    alt="Profile picture"
  />
  <h2 class="text-center text-2xl font-semibold mt-3">{name}</h2>
  <p class="text-center text-gray-600 mt-1">{subtitle}</p>
  <div class="flex justify-center mt-5">
    <a
      href={twitter}
      target="_blank"
      class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a
    >
    <a
      href={linkedIn}
      target="_blank"
      class="text-blue-500 hover:text-blue-700 mx-3">LinkedIn</a
    >
    <a
      href={github}
      target="_blank"
      class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a
    >
  </div>
  <div class="mt-5 h-[185px]">
    <h3 class="text-xl font-semibold">Bio</h3>
    <p class="text-gray-600 mt-2">
      {bio}
    </p>
  </div>

  <a
    href={`/blog/${id}`}
    class="bg-slate-800 py-2 px-4 w-30 mb-5 absolute rounded-lg text-white font-bold bottom-0"
    >Ver posts</a
  >
</div>
