---
import { FormatterDate } from "@utils/formatterDate";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { image, title, date } = post.data;
---

<div class="lg:flex">
  <Image
    class="object-cover w-full h-56 rounded-lg lg:w-64"
    src={image}
    width={200}
    height={224}
    alt={`Imagen del post titulado: ${title}`}
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a
      href={`/posts/${post.slug}`}
      class="text-xl font-semibold text-gray-800 hover:underline dark:text-white"
      transition:name={`${post.slug}-fade`}
    >
      {title}
    </a>

    <span class="text-sm text-gray-500 dark:text-gray-300">
      {FormatterDate.formatDate(date)}
    </span>
  </div>
</div>
